<h1>Editing Portafolio</h1>
<br>
<%= render 'form', portafolio: @portafolio %>
</br>
<%= link_to 'Show', @portafolio, class:"btn btn-secondary"  %> 
<%= link_to 'Back', portafolios_path, class:"btn btn-secondary" %>
